.container{
    width: 100%;
    height: 60px;
    background-color: white; 
}

.newMessage-container--form {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 5px;
    padding: 5px 15px;
    width: 100%;
}

.newMessage-container--form-mobile{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.newMessage-container--input{
    background-color: white;
    height: 60%;  
    flex: 1;
    color: black;
    font-size: 14px;
    padding: 7px 20px;

    border-style: solid;
    border-color:#ffcd38;
    border-width: 2px;
    border-radius: 17px;
}

.newMessage-container--button{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    border: none ;
    font-size: 20px;
    background-color: #ffcd38;
    border-radius: 100px;
    height: 40px;
    width: 40px;
}

/* ////////// */

.newMessage-container--button:hover{
    background-color:#d8ad2c;
}

/* /////////// */

@media screen and (max-width: 800px){
    .newMessage-container--form-mobile{
        display: none;
    }
}