*{
    font-family:"Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLORES PRINCIPALES
    Botones: #ffcd38
    Background: rgb(255, 255, 178)
    Hover: #ffcd3859
*/