.navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 60px;
    background-color:#fff4cc;
}

.navbar-container--button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

.navbar-container--button{
    display: flex;
    justify-content: center;
    align-items: center;
    color:grey;
    border: none ;
    font-size: 20px;
    background-color: transparent;
    border-radius: 100px;
    height: 40px;
    width: 40px;
}

.black-button{
    color:black;
    background-color: #ffcd3859;
}

.navbar-container--img{
    width: 50px;
}

 /* ////////////////////// */
.navbar-container--button:hover{
    background-color: #ffcd3859;
}

/* /////////media ///////////////// */

@media screen and (max-width: 800px){
    .navbar-container{
        flex-direction: row;
        height: 60px;
        width: 100%;
    }

    .navbar-container--button-container{
        flex-direction: row;
        gap: 10px;
    }

    .navbar-container--img{
        width: 30px;
    }
}