.navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 60px;
    background-color:rgb(255, 255, 178);
}

.navbar-container--button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 10px;

    width: 100%;
}

.navbar-container--button{
    display: flex;
    justify-content: center;
    align-items: center;
    color:grey;
    border: none ;
    font-size: 20px;
    background-color: transparent;
    border-radius: 100px;
    height: 40px;
    width: 40px;
}

.black-button{
    color:black;
    background-color: #ffcd3859;
}