.message-screen--container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.message-screen--contact-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.message-screen--header{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 60px;
    width: 100%;

    padding: 15px;
    background-color: wheat;
}

.message-screen--messages{
    height:calc(100% - 90px);
    top: 60px;
    width: 100%;
    padding-bottom: 30px;
    position: absolute;
}

.message-screen--form{
    position: absolute;
    height: 100%;
}