.home-screen-container{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100%;
}

.home-screen--container-mobile{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 500px;
}


.menssages-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 100%;
    background-color: #fff4cc;
}

.menssages-container-img{
    width: 190px;
    height: 190px;
    border-radius: 100px;
}

h1{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 5px;
}

.menssages-container-p{
    font-size: 14px;
    margin-bottom: 24px;
}

.menssages-container-button{
    height: 40px;
    width: 100px;

    border-radius: 35px;
    border: none;

    font-size: 14px;
    font-weight: 700;

    color: black;
    background-color: #ffcd38;
}

.menssages-container-button:hover{
    background-color: #ffcd38d8;
    width: 103px;
    height: 41px;
}

/* ////////////////// */

@media screen and (max-width: 800px)  {
    .home-screen--container-mobile{
        flex-direction: column-reverse;
    }

    .menssages-container-img{
        width: 50%;
        height: auto;
    }
    
    h1{
        font-size: 25px;
        margin: 15px;
    }    

    .menssages-container-p{
        display: none;
    }
}

@media screen and (max-width: 510px){
    h1{
        font-size: 18px;
        margin: 10px;
    } 

    .menssages-container-img{
        width: 125px;
        height: auto;
    }
}

@media screen and (max-width: 400px){
    .menssages-container{
        display: none;
    }
}